zameen-scrapper/zameen-scrapper/__pycache__
zameen-scrapper/zameen-scrapper/spiders/__pycache__
zameen-scrapper/zameen-scrapper/__init__.py
zameen-scrapper/zameen-scrapper/data.json
zameen-scrapper/zameen-scrapper/middlewares.py
zameen-scrapper/zameen-scrapper/pipelines.py
Playground/zameen-scrapper/zameen-scrapper/settings.py
zameen-scrapper/scrapy.cfg
testing.txt
zameen-scrapper/zameen-scrapper/spiders/__pycache__
zameen-scrapper/zameen-scrapper/spiders/__pycache__/__init__.cpython-310.pyc
zameen-scrapper/zameen-scrapper/spiders/__pycache__/quotes_spider.cpython-310.pyc
zameen-scrapper/zameen-scrapper/spiders/__init__.py
zameen-scrapper/zameen-scrapper/items.py
zameen-scrapper/zameen-scrapper/settings.py
