env_project
zameenclone/db.sqlite3
zameenclone/zameenclone/__pycache__
zameenclone/users/__pycache__
zameenclone/properties/__pycache__
zameenclone/core/__pycache__
zameenclone/properties/management/commands/__pycache__
zameenclone/communication/__pycache__
zameenclone/data
__pycache__/
*.pyc
*.min.js
media
.idea
zameenclone/.idea
zameenclone/.env
