<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Offer Accepted</title>
</head>
<body>
    <div class="container">
        <div class="content">
            <p>We are pleased to inform you that your offer on the property <strong>{{ property_title }}</strong> has been
                {{ property_state }}!</p>
        <div class="footer">
            <p>Best regards,</p>
            <p>Zameen Developers</p>
        </div>
    </div>
</body>
</html>
