{% extends "properties/base_listing.html" %}

{% block listings %}
<div class="d-flex justify-content-end mb-3">
  {% if path == "/properties/marketplace/" %}
    <a href="/properties/" class="me-3">
      <button type="button" class="btn btn-primary">My listings</button>
    </a>
  {% else %}
    <a href="/properties/marketplace" class="me-3">
      <button type="button" class="btn btn-primary">Marketplace listings</button>
    </a>
  {% endif %}

  <form action="{% url 'logout' %}" method="POST">
    {% csrf_token %}
    <input type="submit" value="Log out" class="btn btn-primary me-3">
  </form>
</div>


<div>
  <form action="" method="POST">
    {% csrf_token %}
    <div class="mb-3">
      <label for="search-bar" class="form-label">Search</label>
      <input type="text" class="form-control" id="search-bar" aria-describedby="emailHelp" name="search">
    </div>
    <input type="submit" class="btn btn-primary" value="Search"/>
  </form>

  <form method="get">
    {{ filter.form.as_p }}
    <input class="btn btn-primary" type="submit" />
  </form>

  {% for property in properties %}
    <a href="{% url 'property_detail' property.property.id %}">
        <div class="card mb-3 mx-auto" style="max-width: 70%;">
            <div class="row g-0 justify-content-between">
                <div class="col-md-3">
                    <img src="{{ property.image_url }}" class="img-fluid rounded-start property-image" alt="Property Image" style="height: 250px; width: 100%">
                </div>
                <div class="col-md-9">
                    <div class="card-body">
                        <span class="row">
                            <h4 class="card-title col-8 fs-3">{{ property.property.title }}</h4>
                            <h5 class="col-3 ms-auto fs-4">PKR {{ property.property.price }}</h5>
                        </span>
                        <p class="card-text fs-5">{{ property.property.header }}</p>
                        <div class="d-flex justify-content-between">
                            <div>
                                <p class="card-text fs-6"><small class="text-body-secondary">Beds {{ property.property.number_of_bed }} Baths {{ property.property.number_of_bath }}</small></p>
                                <p class="card-text fs-6"><small class="text-body-secondary">Area {{ property.property.area }} Marla</small></p>
                            </div>
                            {% if path == "/properties/" %}
                                <form action="" method="POST">
                                    {% csrf_token %}
                                    <input type="hidden" name="property_id" value="{{ property.property.id }}"/>
                                    <input type="submit" class="btn btn-danger" value="Delete"/>
                                </form>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </a>
{% endfor %}

</div>

<div class="d-flex justify-content-center">
  {% if properties.has_previous %}
  <a href="?page=1" class="me-2">&laquo; first</a>    
  <a href="?page={{ properties.previous_page_number }}" class="me-2">Previous</a>
  {% endif %}
  
    <span class="current">
      Page {{ properties.number }} of {{ properties.paginator.num_pages }}.
    </span>
  
  {% if properties.has_next %}
      <a href="?page={{ properties.next_page_number }}" class="mx-2">next</a>
      <a href="?page={{ properties.paginator.num_pages }}">last &raquo;</a>
  {% endif %}
</div>

{% endblock listings %}
