{% extends "properties/base_listing.html" %}

{% block listings %}

    {% for offer in offers %}
        <div class="d-flex justify-content-between mx-3 mt-3 border border-2 p-2">
            <div>
                <p>
                    <b>Offered price: </b>{{offer.price}}
                </p>
            
                {% if path == "/properties/view_property_offers" %}
                <p>
                    <b>Offered By: </b>{{offer.offered_by}}
                </p>
                {% elif path == "/properties/view_created_offers" %}
                <p>
                    <b>Offered To: </b>{{offer.property}}
                </p>
                {% endif %}
            </div>

            <div>
                {% if path == "/properties/view_property_offers" %}
                <form action="{% url 'change_offer_state' offer.id %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="action" value="accept"/>
                    <input type="submit" class="btn btn-success" value="Accept Offer"/>
                </form>
                
                <form action="{% url 'change_offer_state' offer.id %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="action" value="reject"/>
                    <input type="submit" class="btn btn-danger" value="Reject Offer"/>
                </form>
                
                {% elif path == "/properties/view_created_offers" %}
                    <form action="{% url 'withdraw_offer' offer.id%}" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="offer_id" value="{{offer.id}}"/>
                        <input type="submit" class="btn btn-primary" value="Withdraw offer"/>
                    </form>
                {% endif %}
            </div>
        </div>
    {% endfor %}

{% endblock listings %}